<!DOCTYPE html>
<html>

<%- include('./partials/header.ejs') %>

<body>
  <header>
    <h1>Todo App</h1>
  </header>

<nav class="topNav">
<a href="#"><button class="navButton">Homepage</button></a>
<a href="trash.html"><button class="navButton">Trash List</button></a>
</nav>
<br>

<form>
  <input type="text" class="todo-input" maxlength="25" required>
  <button class="todo-button" type="submit">
    <i class="fas fa-plus-square"></i>
  </button>
  <div class="select">
    <select name="todos" class="filter-todo">
      <option value="all">All</option>
      <option value="completed">Completed</option>
      <option value="uncompleted">Uncompleted</option>
    </select>
  </div>
</form>
<div class="todo-container">
  <ul class="todo-list">

  </ul>
</div>



<%- include('./partials/footer.ejs') %>

</body>

</html>