<!DOCTYPE html>
<html>

<%- include('./partials/header.ejs') %>

<body>

    <header>
        <h1>Todo App Deleted Items</h1>
      </header>

    <nav class="topNav">
        <a href="index.html"><button class="navButton">Homepage</button></a>
        <a href="#"><button class="navButton">Trash List</button></a>
    </nav>
<br>

<div class="todo-deleted">
    <ul class="deleted-list">
  
    </ul>
</div>


<%- include('./partials/footer.ejs') %>

</body>

</html>